<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guess Game</title>
</head>
<body>
    <form action="/guess" method="post">
        <h1>Adivina el número: </h1>
        <label for="number" class="form-label">Ingresa un número (1-10): </label>
        <input type="number" class="form-control" id="number" name="number" required min="1" max="10">
        <button type="button"> Adivinar! </button>
    </form>
    
    <p th:text="${score}"></p>
    
    <form action="/reset" method="get">
        <button type="button"> Reiniciar </button>
    </form>
</body>
</html>